<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <title>Sample Node.js Application</title>
    </head>
    <body>
    <span>Sample Node.js Application</span>
    </body>
</html>